@tailwind base;
@tailwind components;
@tailwind utilities;


.btn--upload{
    padding: 4px 10px!important;
    font-family: (--font-poppins);
    font-weight: 600!important;
    height: 60px;
    
}
.uploader{
    width: 33%!important;
    max-width: 600px!important;
    height: 780px;
    min-width: 0px!important;
}

@media (max-width: 1024px){
    .uploader{
        width: 100%!important;
        max-width: 512px!important;
        height: 280px
    }
}

@media (max-width: 768px){
    .uploader{
        width: 100%!important;
        max-width: none!important;
    }
}

